<footer class="bg-gray-100 py-2 px-4 border-t border-gray-300 text-center">
    <p class="text-xs text-gray-600 italic">
        *Estudio realizado por IQVIA a nivel nacional correspondiente al periodo de enero del 2023 hasta diciembre del 2023 en valores soles (Mercado retail farmacéutico privado).
    </p>
</footer>