<header class="grid grid-cols-1 md:grid-cols-3 items-center py-6 px-4" style="background-color: white;">
    <!-- Espacio a la izquierda para mantener el logo centrado en pantallas grandes -->
    <div class="hidden md:block"></div>

    <!-- Logo central -->
    <div class="flex justify-center mb-4 md:mb-0">
        <a href="/">
            <img 
            src="https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/978d334b-ef01-4df5-4061-eb4480629e00/public"
            class="w-auto max-h-20"
            alt="eucerin-logo"
            />
        </a>
    </div>

    <!-- Imagen al extremo derecho -->
    <div class="flex justify-center md:justify-end">
        <img
            src="https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/be900ed8-49cc-4b71-d50d-ad29d157b700/public"
            class="w-auto max-h-20"
            alt="eucerin-n1"
        />
    </div>
</header>
